<%- include('./partials/header') %>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
    </div>
  </div>
</nav> -->
<div class="page1">
  <!---HERO Section-->

  <div class="hero">
    <div class="intro">
      <div class="hero_header">
        <h4>GET JOB READY - INTERVIEW HACKS</h4>
        <br />
        <h1>Top 50 questions to ace your interview</h1>
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nisi
          provident omnis id perspiciatis optio, eveniet illum beatae,
          recusandae deleniti alias dolor eligendi blanditiis. Ducimus totam cum
          accusantium dolorum ipsam?
        </p>
        <br />
        <div class="buttons">
          <button id="scrollButton" class="btn-p">Upload Your CV >> </button>
        </div>
      </div>
    </div>

    <div class="hero_img">
      <img src="/laptop.png" alt="Laptop_png" class="desktop-img"/>
      <!-- <img src="/laptop_mob.png" alt="Laptop_mob_png" class="mobile-img" /> -->
    </div>
  </div>

  <div class="section_1">
    <h2>HOW IT WORKS</h2>
    <img src="/step-1-1.png" alt="" />
  </div>

  <div class="section_2">
    
    <div class="arrow1"></div>
    
    <div class="desc">
      <h3>
        Nail your interviews with ease! <br /><br />
        Upload your CV, enter the job link or upload your JD , make $50 payment, and obtain expert responses to 50 important interview questions 
      </h3>
    </div>
    
    <div class="arrow2"></div>
    <img src="/step-1-2.png" alt="" />
  </div>

  <form id="int_form" action="/resume" method="post">
    <!-- onsubmit="show()" -->
    <div class="cardz">
      <h3>STEP 1:</h3>
      <div class="card-container">
        <div
          class="card text-center p-4 shadow"
          style="width: 25rem; border-radius: 29px; box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1), 0 15px 25px rgba(0, 0, 0, 0.1);"
        >
          <h2 class="card-title pb-3">Paste Your CV</h2>
          <div class="mb-3">
            <label for="experience" class="form-label"
              >Paste Your Internships & Experience</label
            >
            <textarea
              class="form-control"
              id="exp"
              name="exp"
              rows="3"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="projects" class="form-label"
              >Write About Your Personal Projects</label
            >

            <textarea
              class="form-control"
              id="proj"
              name="proj"
              rows="4"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="projects" class="form-label">Skills</label>
            <textarea
              class="form-control"
              id="skills"
              name="skills"
              rows="1"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="projects" class="form-label">Achievements</label>
            <textarea
              class="form-control"
              id="ach"
              name="ach"
              rows="1"
            ></textarea>
          </div>
        </div>
      </div>
      <h3>STEP 2:</h3>
      <div class="card-container">
        <div
          class="card text-center p-4 shadow"
          style="width: 25rem; border-radius: 29px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);"
        >
          <h2 class="card-title pb-3">Paste your JD</h2>
          <div class="mb-3">
            <label for="experience" class="form-label"
              >Paste Job Description</label
            >
            <textarea
              class="form-control"
              id="jd"
              name="jd"
              rows="6"
            ></textarea>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control rounded-pill border border-dashed border-secondary"
              placeholder="Paste Your JD Link"
              aria-label="Input Field"
              aria-describedby="button-addon2"
            />
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btn-p">Generate Answers</button>
      </div>
    </div>
  </form>

  <!----Form -->
  <form action="/resume" method="post">
    <div class="cardz">
      <!-- <h3>STEP 1:</h3> -->
      <div class="cardz">
        <div class="card-container">
          <div
            class="card text-center p-4 shadow"
            style="width: 18rem; border-radius: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);"
          >
            <h2 class="card-title pb-3">Upload Your CV</h2>
            <img
              class="card-img-top
              id="uploadImage"
              src="/folder.png"
              alt="Card image cap"
            />
            <p>Drag and Drop Files here</p>
          </div>
        </div>
      </form> 

    <!----Form -->
  
  <br>
  <br>

      <div class="section_2">
        <img src="/step-two-arrow.png" alt="" />
        <br>
        <br>
        <h3>STEP 2:</h3>
        
      </div>

      


      
      <!-- <div class="card-container">
        <div
          class="card text-center p-4 shadow"
          style="width: 25rem; border-radius: 29px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);"
        >
          <h2 class="card-title pb-3">Paste your JD</h2>
          <div class="mb-3">
            <label for="experience" class="form-label"
              >Paste Job Description</label
            >
            <textarea
              class="form-control"
              id="jd"
              name="jd"
              rows="6"
            ></textarea>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control rounded-pill border border-dashed border-secondary"
              placeholder="Paste Your JD Link"
              aria-label="Input Field"
              aria-describedby="button-addon2"
            />
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btn-p">Generate Answers</button>
      </div>
    </div>
  </form> -->

  

    <div class="card-container">
      <div
        class="card text-center p-4 shadow"
        style="width: 18rem; border-radius: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);"
      >
        <h2 class="card-title pb-3">Upload Your JD</h2>
        <img
          class="card-img-top"
          id="uploadImage"x
          src="/folder.png"
          alt="Card image cap"
        />
        <p>Drag and Drop Files here</p>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control rounded-pill border border-dashed border-secondary"
            placeholder="Paste Your JD Link"
            aria-label="Input Field"
            aria-describedby="button-addon2"
          />

          
        </div>
        
      </div>

      
    </div>

    <div class="section_3">
      <img src="/step-1-3.png" alt="" />     
    </div>

    <div class="submit-button">
      <input type="submit" value="Submit">
    </div>
  </div>
  
</div>


<%- include('./partials/footer') %>
