<%- include('./partials/header') %>

<div class="page2">
  <div class="dash_section1">
    <div class="dashboard_intro">
      <h2>My dashboard</h2>
    </div>

    <div class="dashboard_search">
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="What are you looking for?">
            <button id="search-button">
              <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
  </div>

  <div class="dash_section2">
    <div class="user_dash">
        <div class="user_content">
            <h1>Good Morning User !</h1>
        <br>
        <p>A simple quote of the day !</p>
        </div>
        <div class="user_img">
            <img src="/vector.png" alt="">
        </div>
        
    </div>
    <div class="user_nav">
        <h2>50 Questions</h2>
        <br>
        <br>
        <img src="/Rectangle 103.png" alt="">
         <p>SLIDER HERE !</p>
    </div>
  </div>

  <div class="dash_section3">
    <h4 style="font-weight:700;">Hi User,</h4>
    <h1 style="font-weight:700;">We are here to help</h1>
    <p style="color:grey;">
      Welcome to the expert response to the 50 top
      interview questions tailored to you !
    </p>
  </div>

 
    
  <div class="card-containerqs">
    <div class="card text-center p-4 shadow" style="width: 80rem; border-radius: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);">
      <div class="dash_section4">
        <div class="dash_section4_head">
          <h1 style="font-weight:700;">50 Top Interview Questions</h1>
          <p style="color:grey;">Everything you need to know to ace your interviews!</p>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>

        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>
        <div class="qs">
          <div class="question">
            <div class="question_area">
              <h5><span class="question_text">Tell me about yourself?</span></h5>
            </div>
            <div class="question_click">
              <i class="fa fa-regular fa-circle-plus" style="color: #1f78ff;">+</i>
            </div>
          </div>  
          <div class="answer">
            <pre class="answer_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</pre>
          </div>
        </div>

      </div>
    </div>
  </div>
  
        
  





<div class="pay-button">
  <input type="button" class="custom-button" value="Pay to view all 50 Answers >>">
</div>


  <div class="dash_section5">
    <div id="paypal_button"></div>
  </div>
  <script src="/paypal_client.js"></script>
  <script src="/script.js"></script>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('.question_click').click(function() {
      $(this).toggleClass('active');
      $(this).parent().siblings('.answer').slideToggle();
    });
  });
</script>
<%- include('./partials/footer') %>